<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<title>会员列表</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<link rel="stylesheet" href="__STATIC__/assets/css/amazeui.min.css"/>
<link rel="stylesheet" href="__STATIC__/assets/css/admin.css">
<script src="__STATIC__/assets/js/jquery.min.js"></script>
<script src="__STATIC__/assets/js/app.js"></script>
</head>
<body>
</head>

<body>

<header class="am-topbar admin-header">
  <div class="am-topbar-brand"><img src="__STATIC__/assets/i/logo.png"></div>

  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav admin-header-list">

      <li class="am-hide-sm-only" style="float: right;"><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
    </ul>
  </div>
</header>

<div class="am-cf admin-main"> 

<div class="nav-navicon admin-main admin-sidebar">
    
    
    <div class="sideMenu am-icon-dashboard" style="color:#aeb2b7; margin: 10px 0 0 0;"> 欢迎系统管理员：admin</div>
    <div class="sideMenu">
      <h3 class="am-icon-flag"><em></em> <a href="#">商品管理</a></h3>
      <ul>
        <li><a href=""><a href="{:url('admin/shangpinliebiao')}">商品列表</a></a></li>
        <li class="func" dataType='html' dataLink='msn.htm' iconImg='images/msn.gif'><a href="{:url('admin/tianjiashangpin')}">添加新商品</a></li>
        <li><a href="{:url('admin/kucunguanli')}">库存管理</a></li>
      </ul>
      <h3 class="am-icon-cart-plus"><em></em> <a href="#">订单管理</a></h3>
      <ul>
        <li><a href="{:url('admin/dingdan')}">订单列表</a></li>
        <li><a href="{:url('admin/tianjiadingdan')}">添加订单</a></li>
        <li><a href="{:url('admin/fahuodanliebiao')}">发货单列表</a></li>
        <li><a href="{:url('admin/wuliuliebiao')}">物流列表</a></li>
      </ul>
      <h3 class="am-icon-users"><em></em> <a href="#">会员管理</a></h3>
      <ul>
        <li>会员列表</li>
        <li><a href="{:url('admin/tianjiahuiyuan')}">添加会员</a></li>
        <li><a href="{:url('admin/huiyuantequan')}">会员特权</a></li>
      </ul>
      <h3 class="am-icon-volume-up"><em></em> <a href="#">信息通知</a></h3>
      <ul>
        <li><a href="{:url('')}">会员消息</a></li>
        <li><a href="{:url('')}">订单消息</a></li>
        <li><a href="{:url('')}">物流消息</a></li>
        <li><a href="{:url('')}">客服</a></li>
      </ul>
      <h3 class="am-icon-gears"><em></em> <a href="#">系统设置</a></h3>
      <ul>
        <li><a href="{:url('')}">数据更新</a></li>
        <li><a href="{:url('')}">管理员权限</a></li>
        <li><a href="{:url('')}">平台设置</a></li>
        <li><a href="{:url('')}">网站设置</a></li>
      </ul>
    </div>
    
    <script type="text/javascript">
      jQuery(".sideMenu").slide({
        titCell:"h3", //鼠标触发对象
        targetCell:"ul", //与titCell一一对应，第n个titCell控制第n个targetCell的显示隐藏
        effect:"slideDown", //targetCell下拉效果
        delayTime:300 , //效果时间
        triggerTime:150, //鼠标延迟触发时间（默认150）
        defaultPlay:true,//默认是否执行效果（默认true）
        returnDefault:true //鼠标从.sideMen移走后返回默认状态（默认false）
        });
    </script>     
</div>
      <div class="admin-biaogelist">
  
    <div class="listbiaoti am-cf">
      <ul class="am-icon-users"> 会员管理</ul>
      <dl class="am-icon-home" style="float: right;">当前位置： 会员列表 > <a href="{:url('admin/admin')}">首页</a></dl>
      
      <dl>
        <a href="{:url('admin/tianjiahuiyuan')}"><button type="button" class="am-btn am-btn-danger am-round am-btn-xs am-icon-plus" > 添加会员</button></a>
      </dl>     
    </div>
    <volist name='re' id='vo'>
     <form class="am-form am-g" action="{:url('admin/huiyuanliebiao')}">
          <table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped">
            <thead>
              <tr class="am-success">
                <th class="table-check"><input type="checkbox" /></th>
                <th class="table-id">ID</th>
                <th class="table-title">会员名称</th>
                <th class="table-type">会员地址</th>
                <th class="table-author am-hide-sm-only">会员密码</th>
                <th class="table-author am-hide-sm-only">会员购买</th>
                <th width="130px" class="table-set">操作</th>
              </tr>
            </thead>
            <tbody>

            {volist name="re" id="er"}
             <tr>
                <td><input type="checkbox" /></td>                
                <td>{$er.id}</td>
                <td>{$er.username}</td>
                <td>{$er.address}</td>
                <td class="am-hide-sm-only">{$er.password}</td>
                <td>{$er.pName}</td>
                <td>                       
                  <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                     <a href="{:url('admin/huiyuanxiugai',array('id'=>$er.id))}"><button name="{$er.id}" type="button"  class="am-btn am-btn-default am-btn-xs am-text-secondary am-round"  title="修改会员"><span class="am-icon-pencil-square-o"></span></button></a> 
                      <button name="{$er.id}"  type="button" class="am-btn am-btn-default am-btn-xs am-text-danger am-round" title="删除会员"><span class="am-icon-trash-o" ></span></button>
                    </div>
                  </div>                 
                </td>
              </tr>
            {/volist}             
            </tbody>
          </table>         
          <hr />
          <p>
        备注：操作图标含义
         <a class="am-icon-pencil-square-o am-text-secondary" title="修改"> 修改会员</a> 
         <a class="am-icon-trash-o am-text-danger" title="删除"> 删除会员</a>
        </p>
        </form>
        </volist>
      <script type="text/javascript">jQuery(".slideTxtBox").slide();</script>  
</div>

    <div class="foods">
      <ul></ul>     
    </div>
</div>
</div>
</div> 
</body>
<script src="__STATIC__/assets/js/amazeui.min.js"></script>

<script type="text/javascript">
  $(".am-text-danger").click(function(){
        $(this).parents('tr').css('display','none');  
  })
  $(".am-text-danger").click(function(){
      var id=$(this).attr('name');     
        $.ajax({  
                url:"{:url('Admin/delatehuiyuan')}",  
                type:"post",  
//            async:false,//同步  
                data:{"id":id
                },//传出的数据  
                dataType:"json",//返回的数据类型，常用：html/text/json  
                success:function(data){ 
                   alert($data);                      
                }  
            })     
  }); 
  
</script>
</html>