<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<title>会员特权</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<link rel="stylesheet" href="__STATIC__/assets/css/amazeui.min.css"/>
<link rel="stylesheet" href="__STATIC__/assets/css/admin.css">
<script src="__STATIC__/assets/js/jquery.min.js"></script>
<script src="__STATIC__/assets/js/app.js"></script>
</head>
<body>
</head>

<body>
<header class="am-topbar admin-header">
  <div class="am-topbar-brand"><img src="__STATIC__/assets/i/logo.png"></div>

  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav admin-header-list">

      <li class="am-hide-sm-only" style="float: right;"><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
    </ul>
  </div>
</header>

<div class="am-cf admin-main"> 

<div class="nav-navicon admin-main admin-sidebar">
    
    
    <div class="sideMenu am-icon-dashboard" style="color:#aeb2b7; margin: 10px 0 0 0;"> 欢迎系统管理员：admin</div>
    <div class="sideMenu">
      <h3 class="am-icon-flag"><em></em> <a href="#">商品管理</a></h3>
      <ul>
        <li><a href=""><a href="{:url('admin/shangpinliebiao')}">商品列表</a></a></li>
        <li class="func" dataType='html' dataLink='msn.htm' iconImg='images/msn.gif'><a href="{:url('admin/tianjiashangpin')}">添加新商品</a></li>
        <li><a href="{:url('admin/kucunguanli')}">库存管理</a></li>
      </ul>
      <h3 class="am-icon-cart-plus"><em></em> <a href="#">订单管理</a></h3>
      <ul>
        <li><a href="{:url('admin/dingdan')}">订单列表</a></li>
        <li><a href="{:url('admin/tianjiadingdan')}">添加订单</a></li>
        <li><a href="{:url('admin/fahuodanliebiao')}">发货单列表</a></li>
        <li><a href="{:url('admin/wuliuliebiao')}">物流列表</a></li>
      </ul>
      <h3 class="am-icon-users"><em></em> <a href="#">会员管理</a></h3>
      <ul>
        <li><a href="{:url('admin/huiyuanliebiao')}">会员列表</a></li>
        <li><a href="{:url('admin/tianjiahuiyuan')}">添加会员</a></li>
        <li>会员特权</li>
      </ul>
      <h3 class="am-icon-volume-up"><em></em> <a href="#">信息通知</a></h3>
      <ul>
        <li><a href="{:url('')}">会员消息</a></li>
        <li><a href="{:url('')}">订单消息</a></li>
        <li><a href="{:url('')}">物流消息</a></li>
        <li><a href="{:url('')}">客服</a></li>
      </ul>
      <h3 class="am-icon-gears"><em></em> <a href="#">系统设置</a></h3>
      <ul>
        <li><a href="{:url('')}">数据更新</a></li>
        <li><a href="{:url('')}">管理员权限</a></li>
        <li><a href="{:url('')}">平台设置</a></li>
        <li><a href="{:url('')}">网站设置</a></li>
      </ul>
    </div>
    
    <script type="text/javascript">
      jQuery(".sideMenu").slide({
        titCell:"h3", //鼠标触发对象
        targetCell:"ul", //与titCell一一对应，第n个titCell控制第n个targetCell的显示隐藏
        effect:"slideDown", //targetCell下拉效果
        delayTime:300 , //效果时间
        triggerTime:150, //鼠标延迟触发时间（默认150）
        defaultPlay:true,//默认是否执行效果（默认true）
        returnDefault:true //鼠标从.sideMen移走后返回默认状态（默认false）
        });
    </script> 

    
    
    
    
    
    
    
</div>

<div class=" admin-content">

<div class="admin">
  

    <div class="admin-biaoge" style="width: 90%;">
      <div class="xinxitj">会员特权</div>
      <p>Bookstore文学VIP会员（书城VIP）有什么特权？<br>
<br>
Bookstore文学包月VIP是为各位读书爱好者量身定做的一款包月读书服务，开通期间您可在Bookstore文学任意平台免费阅读所有带“包月”字样的作品，相对单本购买来说，更实惠、更方便、更尊贵。<br>
<br>
<br> 
包月VIP特权详情：<br>
<br>
1、Bookstore文学全平台万册包月书在线免费看。<br>
<br>
书城现有高达50000册包月书库存，每月不断更新累加，均可免费读。<br>
<br>
免费阅读Bookstore原创文学：http://xxxxxxxxx/  旗下网站所有包月书籍；<br>
<br>
免费阅读Bookstore书城：http://xxxxxxxxx/ 、http://xxxxxxxxx/  所有包月书籍；<br>
<br>
免费阅读Bookstore读书：http://xxxxxxxxx/ “VIP专区”所有书籍；<br>
<br>
免费阅读Bookstore阅读的所有包月书籍；<br>
<br>
<br> 
2、Bookstore文学全平台订阅消费享8折特权优惠。<br>
<br>
VIP用户折扣范围：包月付费书+非包月付费书<br>
<br>
包月VIP折扣范围：非包月付费书<br>
<br>
<br> 
3、专享部分书籍免费阅读特权。<br>
<br>
<br>
4、点亮尊贵的VIP面板图标、点亮Bookstore文学全平台内包月VIP图标。<br>
<br>
<br> 
<br>
5、享有Bookstore文学成长等级成长值1.4倍加速。<br>
<br>
普通用户：1.0倍<br>
<br>
包天VIP用户：1.2倍<br>
<br>
包月VIP用户：1.4倍<br>
<br>
<br>
6、线上线下活动优先参与。<br>
<br>
<br>
7、Bookstore文学手机/电脑平台特权通用（IOS客户端除外）<br>
<br>
包月VIP身份及特权，可在Bookstore文学任一平台展现和使用（iPhone/iPad阅读器除外），无论在电脑还是手机上您都是我们最尊贵的VIP。<br></p>
    </div>

      </div>
      <script type="text/javascript">jQuery(".slideTxtBox").slide();</script> 
   
   
   
   
   
   
   
   
</div>

    <div class="foods">
      <ul><!-- The right of final interpretation is owned by this website --></ul>
      <!-- <dl><a href="" title="返回头部" class="am-icon-btn am-icon-arrow-up"></a></dl> -->     
    </div>







</div>

</div>




</div> 
<script src="__STATIC__/assets/js/amazeui.min.js"></script>
</body>
</html>